
/* Dashboard - no studies
 ************************/
div.uts-dashboard {
  text-align: center;
}

a#uts-create-study {
  padding: 7px;
  border: 1px solid;
  font-weight: bold;
}

h3#uts-learn {
  margin-top: 20px;
}

/* Dashboard - studies
 *********************/
div.uts-image {
  cursor: pointer;
  display: inline;
  margin-right: 5px;
}

div#uts-dashboard-summary {
  float: left;
}

div#uts-dashboard-progess {
  border: 2px solid #FFFFFF;
  height: 10px;
  background: #CCCCCC;
  width: 100px;
}

div#uts-dashboard-progess-part, div#uts-dashboard-progess-whole {
	float: left;
  height: 10px;
}

div#uts-dashboard-progess-part {
  background-color: #92f86e;
}

div#uts-dashboard-progess-whole {
  background-color: #f36161;
}

/* Dashboard analyze
 *******************/
div.dashboard-main {
  float: left;
}

div.dashboard-sidebar {
  float: left;
  width: 200px;
  margin-left: 20px;
}

div.uts-task-open {
  cursor: pointer;
}

div.uts-task-open span {
	margin-right: 5px;
}

div#uts-live-feedback-label {
  float: left;
}

div.uts-live-feedback-participant {
	font-weight: bold;
	text-align: center;
	float: left;
  width: 22px;
  height: 22px;
  margin-left: 5px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

div.uts-live-feedback-comments {
  display: none;
  clear: both;
}
