
#uts-live-feedback {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  background-color: transparent;
  text-align: left;
  width: 450px;
}

#uts-live-feedback-toggle {
  background-image: url(header.png);
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#uts-live-feedback-form {
  padding: 5px;
  display: none;
  background-color: white;
}

#uts-live-feedback input {
  margin: 0px;
}