
div.uts-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  z-index: 10000;
  background-color: white;
}

#uts-proctor-interface {
  border-bottom: 3px solid black;
}

.uts-overlay-item {
  padding: 5px;
}

#uts-study, #uts-task {
  float: left;
}

#uts-task span {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

#uts-task span:hover {
  text-decoration: none;
}

#uts-actions {
  padding: 5px 10px;
  float: right;
}

#uts-actions input {
  margin: 0px;
}
